header{
    margin-top: 120px;
    color: black;
    text-align: center;
    font-size: 20px;
}

body{
    background-color: gray;
    text-decoration-color: aliceblue ;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 20px;
    
}

#form
{
    /*position: absolute;*/
    background-color:rgb(88, 88, 88);
    border: 3px solid black;
    border-radius: 20px;
    /*margin: 20px 640px;*/
    text-align: center;
    width: 300px;
    height: 300px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.233);
    opacity: 1;
    animation-name: fadeInOpacity;
	animation-duration: 2s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#box3{
    margin-top: 20px;
    /*margin-left: 20px;*/
}

#lab{
    color: black; 
}

.lay{
    background-color: black;
    border-radius: 5px;
    color: beige;
}

#submit{
    margin-top: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.233);
}
